#main_contacto{
    height: 70vh;
    margin-top: 130px;
    background: rgb(2,0,29);
    background: linear-gradient(90deg, rgba(2,0,29,1) 0%, rgba(10,10,48,1) 50%, rgba(9,9,28,1) 100%);
}
.formulario_container{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.formulario{
background-color: rgb(13, 13, 71);
width: 400px;
padding: 10px;
margin-top: 50px;
}
label{
    color: white;
}
@media only screen
and (max-device-width: 1024px){
    .formulario{
        margin-top: 70px;
    }
}